.contact {

    color: $white;
    text-align: center;
    position: relative;
    .contact-bg{
        padding-bottom: 160px;
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.75);
        .hero-subheading-dark {
            color: $white;
            span::before {
                background-color: $white;
            }
        }
        h2.hero-heading {
          
            color: $white;
                 span {
             
                -webkit-text-stroke: 1px  $white;
                text-stroke: 1px $white;
             
            }
    
        }
        .alignment-center{
            padding-top: 100px;
            display: flex;
            justify-content: center;
        }
        i{
            display: block;
            padding-bottom: 10px;
        }
        .phone{
            font-size: 40px;
        }
    }
 
}


.form-modal{

    .modal-dialog {
        max-width: 100%;
        margin: 0 auto;
        .modal-body {
      
            padding: 0;
        }
    }

    .contact-form{
        background-color: black;
        .contact-container{
    
            width: 50%;
            margin: 0 auto;
            text-align: center;
           .hero-subheading-dark {
                color: $white;
                span::before {
                    background-color: $white;
                }
            }
            h2.hero-heading {
              
                color: $white;
                     span {
                 
                    -webkit-text-stroke: 1px  $white;
                    text-stroke: 1px $white;
                 
                }
        
            }
            .form{
                ::placeholder{
                     color: $white;
             
                 }
                  input {
                         position: relative;
                         width: 100%;
                         height: 40px;
                         border-bottom: 1px solid $white;
                         border-left: none;
                         border-right: none;
                         border-top: none;
                         padding: 5px 5px;
                         background: none;
                         margin: 10px 0 20px 0;
                         font-family: $secondery-fonts;
                         font-size: 13px;
                         line-height: 1.5;
                         font-weight: 600;
                         text-align: center;
                         color: $white;
                         transition: all 0.5s linear;
                        &:hover{
                            border-bottom: 1px solid rgba(219, 0, 24, .5);
                        }
                         &:focus-visible{
                            
                             outline: 0;
                         }
                     }
                     textarea {
                         position: relative;
                         width: 100%;
                         height: 100px;
                         color: $white;
                         border-bottom: 1px solid $white;
                         border-left: none;
                         border-right: none;
                         border-top: none;
                         padding: 5px 5px;
                         background: none;
                         margin: 5px;
                         font-family: $secondery-fonts;
                         font-size: 13px;
                         line-height: 1.5;
                         font-weight: 600;
                         text-align: center;
                         transition: all 0.5s linear;
                         &:hover{
                            border-bottom: 1px solid rgba(219, 0, 24, .5);
                        }
                         &:focus-visible{
                            
                             outline: 0;
                         }
                     }
                 }
                 .alignment-center {
                    padding: 50px 0 100px 0;
                    display: flex;
                    justify-content: center;
        
                }
                .close-icon{
                    padding-bottom: 150px;
                    i{
                        font-size: 30px;
                        color: $white;
                        // position: absolute;
                        // left: 50%;
                        // transform: translate(-50%);
                    }
                }
                
        }
    
    }
}


@include mobile{
    .form-modal .contact-form .contact-container {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
}